<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <div class="container mt-5 main-section">
                <div class="row">
                    <% if (jobs.length > 0) { %>
                        <% for (let job of jobs) { %>
                            <div class="col-md-3 col-sm-6 item mb-2">
                                <div class="card item-card card-block">
                                    <a href="/edit-job/<%= job._id %>">
                                        <img class="imgIcon" src="https://cdn1.iconfinder.com/data/icons/pikku-ui/16/dots_vertical-512.png" alt="">
                                    </a>
                                    <h3 class="item-card-title font-weight-bold mb-3">
                                        <%= job.companyName %>
                                    </h3>
                                    <p class="">
                                        <span class=" font-weight-bold">About company:</span>
                                        <%= job.aboutCompany %>
                                    </p>
                                    <p class="">
                                        <span class="font-weight-bold">Type of work:</span>
                                        <%= job.workType %>
                                    </p>
                                    <a href="/job/<%= job._id %>" class="btn btn-warning">View</a>
                                </div>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <h1>No job Found!</h1>
                                    <% } %>
                </div>

            </div>


            </div>
            <%- include('../includes/end.ejs') %>